<!DOCTYPE html>
<html>
<head>
    <title>Log In App</title>
</head>
<body>
<form action="/animal" method="post" id="login">
    <h2>Create </h2>

    <label for="type">Type</label>
    <input type="text" value="" name="type" />

    <label for="name">Name</label>
    <input type="text" value="" name="name" />

    <label for="isHungry">isHungry</label>
    <input type="checkbox" name="isHungry" />

    <label for="avatar">Avatar</label>
    <input type="text" name="avatar" />

    <input type="submit" value="Add">
</form>

</body>
</html>