
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>Hello, <%= message %></p>
    <form action="/signOut" method="post">
      <input type="submit" value="Sign Out">
    </form>
  </body>
</html>
