<!DOCTYPE html>
<html>
<head>
    <title>Log In App</title>
</head>
<body>
<form action="/signUp" method="post" id="login">
    <h2>Registration</h2>

    <label for="username">Username</label>
    <input type="text" value="" name="username" />

    <label for="email">Email</label>
    <input type="text" value="" name="email" />

    <label for="password">Password</label>
    <input type="password" value="" name="password" />

    <label for="role">Role</label>
    <input type="text" value="0" name="role" />

    <input type="submit" value="Sign Up">
</form>

</body>
</html>